@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            User<br /><input type="text" id="userInput" />
            <br /><br />
            Message<br /><input type="text" id="messageInput" /><br /><br />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
        <div class="col-6"></div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
        <div class="col-6"></div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
